langchain
unstructured
google-generativeai
langchain-openai
openai
python-dotenv
libmagic
chromadb
python-libmagic
python-magic-bin
pdf2image
pdfminer.six
pillow_heif
numpy
opencv-python
unstructured_inference
pikepdf

